@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600;700&display=swap");
* {
  font-family: "Roboto Slab";
  box-sizing: border-box;
}

body {
  background-color: #242424;
  margin: 0;
}

nav {
  height: 60px;
  position: fixed;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.7);
}
nav .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.left {
  margin: 0;
  padding: 0;
  height: 100%;
}
.left .home {
  display: inline-flex;
}
.left__item {
  display: inline-flex;
  align-content: stretch;
  align-items: center;
  list-style: none;
  padding: 0 8px;
  height: 100%;
  transition: all 0.3s;
}
.left__item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.left__link {
  color: whitesmoke;
  text-decoration: none;
  font-size: 16pt;
}
.left__link img {
  height: 100%;
}
.left__link:hover {
  color: whitesmoke;
}

.right {
  margin: 0;
  padding: 0;
  height: 100%;
}
.right__item {
  display: inline-flex;
  align-content: center;
  align-items: center;
  list-style: none;
  padding: 0 8px;
  height: 100%;
  border-radius: 5px;
  transition: all 0.3s;
}
.right .soc {
  padding: 0 14px;
}
.right .soc svg {
  fill: whitesmoke;
  transform: scale(1.5);
}
.right .soc:nth-child(1):hover {
  background-color: #c13584;
}
.right .soc:nth-child(2):hover {
  background-color: #4267b2;
}
.right .tel {
  border: 1px solid whitesmoke;
  border-radius: 20px;
}
.right .tel a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s;
}
.right .tel:hover {
  background-color: whitesmoke;
}
.right .tel:hover a {
  color: black;
}

.heading {
  padding-top: 60px;
  height: 100vh;
  background-image: url("../img/pizza-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}

.big-logo {
  margin: 20px 0;
}
.big-logo img {
  width: 100%;
}

.headtext {
  color: whitesmoke;
  font-size: 24pt;
  text-align: center;
}

.main {
  background-image: url("../img/logo-background.png");
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dishcard {
  border: 2px whitesmoke solid;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.dishcard__image img {
  width: 100%;
  border-radius: 10px;
}
.dishcard__text {
  padding: 10px;
  color: whitesmoke;
}
.dishcard__text .money {
  display: flex;
  flex-direction: column;
}
.dishcard__text .money .size, .dishcard__text .money .price {
  display: flex;
}
.dishcard__text .money .size p, .dishcard__text .money .price p {
  flex-grow: 1;
}