@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600;700&display=swap");
* {
  font-family: "Roboto Slab";
  box-sizing: border-box;
}

body {
  background-color: #242424;
  margin: 0;
}

nav {
  height: 60px;
  position: fixed;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.7);
  z-index: 10000;
}
nav .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.modal {
  background-color: #242424;
  justify-content: center;
  align-content: center;
}
.modal__menu {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  list-style: none;
  gap: 20px;
}
.modal__item a {
  color: whitesmoke;
  text-decoration: none;
}
.modal__open {
  border: none;
  background: transparent;
}
.modal__close {
  position: absolute;
  top: 14px;
  left: 14px;
  color: whitesmoke;
  border: none;
  background-color: transparent;
}

.modalshow {
  display: flex;
}

.left {
  margin: 0;
  padding: 0;
  height: 100%;
}
.left .home {
  display: inline-flex;
}
.left__button {
  display: none;
}
.left__item {
  display: inline-flex;
  align-content: stretch;
  align-items: center;
  list-style: none;
  padding: 0 8px;
  height: 100%;
  transition: all 0.3s;
}
.left__item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.left__link {
  color: whitesmoke;
  text-decoration: none;
  font-size: 16pt;
}
.left__link img {
  height: 100%;
}
.left__link:hover {
  color: whitesmoke;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  height: 100%;
}
.right__item {
  list-style: none;
  padding: 4px 8px;
  transition: all 0.3s;
}
.right .soc {
  padding: 0 14px;
}
.right .soc svg {
  fill: whitesmoke;
  transform: scale(1.5);
}
.right .soc:nth-child(1):hover {
  background-color: #c13584;
}
.right .soc:nth-child(2):hover {
  background-color: #4267b2;
}
.right .cart {
  border: 1px solid whitesmoke;
  border-radius: 50px;
}
.right .cart a {
  font-size: 16px;
  line-height: 16px;
}
.right .tel {
  border: 1px solid whitesmoke;
  border-radius: 20px;
}
.right .tel a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s;
}
.right .tel:hover {
  background-color: whitesmoke;
}
.right .tel:hover a {
  color: black;
}

.phone-icon {
  display: none;
}

.heading {
  padding-top: 60px;
  height: 100vh;
  background-image: url("../img/pizza-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}

.big-logo {
  margin: 20px 0;
}
.big-logo img {
  width: 100%;
}

.headtext {
  color: whitesmoke;
  font-size: 24pt;
  text-align: center;
}

.main {
  background-image: url("../img/logo-background.png");
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dishcard {
  border: 2px whitesmoke solid;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  color: whitesmoke;
}
.dishcard__image {
  position: relative;
}
.dishcard__image img {
  width: 100%;
  border-radius: 10px;
}
.dishcard__image:hover .dishcard__overlay {
  opacity: 1;
}
.dishcard__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dishcard__text {
  padding: 10px;
  color: whitesmoke;
}
.dishcard__text .money {
  display: flex;
  flex-direction: column;
}
.dishcard__text .money .size, .dishcard__text .money .price {
  display: flex;
}
.dishcard__text .money .size p, .dishcard__text .money .price p {
  flex-grow: 1;
}
.dishcard__buy {
  padding: 0 12px;
}

.buy__wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.buy__size {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.buy__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 14px;
}
.buy__decrease {
  border: 1px solid whitesmoke;
  background-color: transparent;
  color: whitesmoke;
  padding: 0 9px;
  border-radius: 50%;
  font-weight: bold;
  transition: 0.5s all;
}
.buy__decrease:hover {
  background-color: rgba(245, 245, 245, 0.2);
}
.buy__add {
  border: none;
  background-color: tomato;
  color: whitesmoke;
  border-radius: 10px;
  transition: 0.5s all;
}
.buy__add:hover {
  background-color: #be4732;
}